---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
Standard:        c++17
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     100
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes: CaseInsensitive
# 宏对齐
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
# 对齐连续的尾随的注释
AlignTrailingComments:	true
# 连续空行的最大数量
MaxEmptyLinesToKeep:	1
# 在尾随的评论前添加的空格数(只适用于//)
SpacesBeforeTrailingComments:	1
